@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: black;
}

.page {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

.mainText {
    font-family: 'Goldman', cursive;
    text-shadow: 0 0 7px rgba(32, 170, 245, 0.9);
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 600;
    margin-bottom: 3rem;
}

.timer {
    height: 150px;
    /*width: 500px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.timer__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 170px;
    width: 170px;
}

.timer__dot {
    margin: 0 .5rem;
    font-family: 'Goldman', cursive;
    font-size: 100px;
    text-shadow: 0 0 10px rgba(32, 170, 245, 0.9);
}

.timer__block span {
    font-family: 'Goldman', cursive;
    font-size: 100px;
    text-shadow: 0 0 10px rgba(32, 170, 245, 0.9);
}

